html{
    scroll-behavior:smooth;
}

body{
    margin:0;
    font-family:Arial,sans-serif;
    background:#f4f6f9;
}

.sidebar{
    position:fixed;
    left:0;
    top:0;
    width:250px;
    height:100vh;
    background:#1e293b;
    padding:20px;
}

.sidebar h2{
    color:white;
}

.sidebar a{
    display:block;
    color:white;
    text-decoration:none;
    margin:10px 0;
}

.sidebar button{
    width:100%;
    padding:10px;
    margin-top:20px;
    cursor:pointer;
}

.main{
    margin-left:270px;
    padding:20px;
}

#search{
    width:100%;
    padding:15px;
    border-radius:10px;
    border:1px solid #ccc;
    margin-bottom:10px;
}

.grid{
    display:grid;
    grid-template-columns:
    repeat(auto-fill,minmax(250px,1fr));
    gap:15px;
}

.card{
    background:white;
    padding:15px;
    border-radius:12px;
    box-shadow:0 2px 8px rgba(0,0,0,.1);
    transition:.3s;
}

.card:hover{
    transform:translateY(-5px);
}

.card a{
    display:inline-block;
    margin-top:10px;
    padding:8px 12px;
    background:#2563eb;
    color:white;
    text-decoration:none;
    border-radius:6px;
}

.dark{
    background:#111827;
    color:white;
}

.dark .card{
    background:#1f2937;
    color:white;
}
